
<div class="content">
  <div id="main"></div>
</div>

<script>
  $(document).ready(function(){

    VinoBueno.CURRENT_USER = {
          email: "<%= current_user.email %>"
    };

    VinoBueno.initialize();
  });
</script>
