<%= render "shared/nav" %>

<div id="sign-in-up">

  <h1>Welcome to Vino Bueno</h1>

  <form class="" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="">Email:
      <p>
        <input type="text" name="user[email]" value="">
      </p>
    </label>

    <label for="">Password:
      <p>
        <input type="password" name="user[password]" value="">
      </p>
    </label>

    <button type="submit">Sign In!</button>

  </form>

</div>
