// Place all the styles related to the api/cellars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cellar-index-composite {
  display: table;
  width: 80%;
  margin: auto;
}

.cellar-list {
  display: table-cell;
  width: 25%;
}

.wines-in-cellar {
  display: table-cell;
  width: 75%;
}

h3.border-under {
  border-bottom: 1px solid #555;
}

.space-under {
  margin-bottom: 5px;
}

.wine-in-cellar {
  width: 150px;
  height: 150px;
  float: left;
  margin: 5px;

  .wine-detail-on-hover {
    margin-top: -999px;
    // display: none;
    height: 0;
    opacity: 0;
    transition: opacity 1s;
    width: 300px;
    padding: 5px;
  }

  &:hover .wine-detail-on-hover {
    margin-top:0px;
    height: auto;
    opacity: 1;
    width: 300px;
    background-color: white;
    border-radius: 9px;
    padding: 5px;
    position: absolute;
    border: 4px solid #9B0100;
    box-shadow: 0 3px 8px #9B0100;
  }
}
