// Place all the styles related to the api/wine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main > table {
  margin-left:auto;
  margin-right:auto;
}

.wine-mini-deets ul {
  list-style-type: none;
}

button.btn.btn-danger {
  margin-right: 0px;
  background-color: #9B0100;
  border: 1px solid #9B0100;
}

button.btn.btn-danger:hover {
  margin-right: 0px;
  background-color: #C10100;
  box-shadow: none;
}
