<div class="review-header row">
  <button class="btn-new-review">Write a Review</button>
  <h3>My Review for <%= wine.escape('name') %></h3>
</div>
<div class="my-review row"></div>

<div class="review-header row">
  <h3>Community Reviews for <%= wine.escape('name') %></h3>
</div>
<div class="community-reviews row"></div>
