<div class="review-header row">
  <h3>My Review for <%= wine.escape('name') %></h3>
  <button class="btn-new-review">Write a Review</button>
</div>

<div class="my-review row"></div>

<h3>Community Reviews for <%= wine.escape('name') %></h3>
<div class="community-reviews"></div>
