
<li class="rating">
  <a href="#" class="star-off" title="1">&#x2605;</a>
  <a href="#" class="star-off" title="2">&#x2605;</a>
  <a href="#" class="star-off" title="3">&#x2605;</a>
  <a href="#" class="star-off" title="4">&#x2605;</a>
  <a href="#" class="star-off" title="5">&#x2605;</a>
</li>

<li>
  User: <%= user.email %>
</li>

<li>
  Review: <%= review.escape('review') %>
</li>
