<h3 class="border-under">
  <%= cellar.escape('name') %>
  <span class="glyphicon glyphicon-edit cellar-edit float-right" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-trash cellar-trash float-right" aria-hidden="true"></span>
</h3>

<div class="cellar-wine-index"></div>
