<div class="cellar-form">
  <form>
    <label for="">Add a cellar:</label><br />
    <input type="text" name="cellar[name]" placeholder="(Req) Name">

    <input type="submit" class="btn btn-primary" value="Add">
  </form>
</div>
