<button class="close">&times;</button>
<form>
  <label for="">Add a cellar:</label><br />
  <input type="text" name="cellar[name]" placeholder="(Req) Cellar Name" class="space-under">
  <br />
  <input type="submit" class="btn btn-primary" value="Add">
</form>
