/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 // #9B0100
 // #5B0000
 // #DB0100
 // #E80100
 // #C10100

// navbar logo
.navbar img {
    height: 300%;
    margin-top: -20px;
}

// navbar link hover
.navbar-default .navbar-nav > li > a:hover {
  background-color: #C10100;
  color: white;
}

.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #C10100;
}

// all buttons
button {
    background-color: #9B0100;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #C10100;
    box-shadow: 0px 0px 10px #C10100;
}

// sign-in and sign-up pages
 body.logged-out {
   background-image: image-url("home_wine.jpg");
   background-size: cover;
   background-repeat: no-repeat;
 }

 .form-control:focus {
     border-color: grey;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(192,192,192, 0.6);
 }

// sign in/up pages
div.login-table {
   display: table;
   height: 100%;
   width: 100%;
   margin-top: -70px;
}

 div.login-middle {
   width: 100%;
   vertical-align: middle;
   text-align: center;
   display: table-cell;
 }

 div#sign-in-up {
   margin: 0 auto;
   text-align: left;
   padding: 1em 3em 1em 3em;
   box-shadow: 0px 0px 50px rgba(155, 1, 0, 1);
   display: inline-block;
   border: 1px solid gray;
   border-radius: 5px;
   background: white;
 }

 #sign-in-up h1 {
   text-align: center;
 }

 #sign-in-up form {
   text-align: center;
   padding: 10px;
 }

 // makes body take up 100% of browser height
 html, body {
   height: 100%;
   margin: 0;
 }

 // navbar styling, across all pages
 .navbar {
   border-radius: 0px;
 }

 .navbar-default {
   background-color: #9B0100;
   border: 0px;
 }

 .navbar-default .navbar-brand {
   color: white;
 }

 .navbar-default .navbar-nav > li > a {
   color: white;
 }

 // wine description on wine show pages

.wine-show-composite {
    width: 80%;
    margin: auto;
}

.list-unstyled {
  list-style-type: none;
}

.review-header {
  border-top: 1px solid #9B0100;
}

button.btn-new-review {
  display: inline-block;
  float: right;
  width: auto;
}

td, th {
  padding: 10px;
}

 // modals styling

 .m-background {
  background: rgba(92, 88, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
}

.m-content-middle {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.m-content {
  z-index: 2;
  background-color: white;
  padding: 1pc;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
}

input.btn.btn-primary {
    background-color: #9B0100;
    border: 1px solid #9B0100;
}

input.btn.btn-primary:hover {
    background-color: #C10100;
    box-shadow: 0px 0px 10px #C10100;
}

button.close:hover {
    background-color: white;
    box-shadow: 0px 0px 10px white;
}

// mobile size > navbar > dropdown
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

button.navbar-toggle.collapsed:hover {
  background-color: #C10100;
}

// wines index pages styling
.wines-index {
  width: 80%;
  margin: auto;
}

.wine-mini {
  margin: 10px;
}

.wine-mini-deets {
  height: 150px;
}

.wine-mini.row {
  border-top: 1px solid #9B0100;
  padding: 10px;
}

a.clickable {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #0A4368;
}

button.btn-new-wine {
  display: inline-block;
  float: right;
  width: auto;
}

li.small-grey {
  font-size: 12px;
  color: #555;
}

// star styling
.star-off {
  color: #555;
}
.star-on {
  color: #C10100;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 20px;
}
.rating > a {
  display: inline-block;
  position: relative;
}
.rating > a:hover,
.rating > a:hover ~ a {
  color: transparent;
}
.rating > a:hover:before,
.rating > a:hover ~ a:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: #C10100;
}

.rating > span {
  margin: -2px;
}

li.smaller-rating {
  font-size: 18px;
}
