// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-in-up {
  margin: 0 auto;
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}

#sign-in-up h1 {
  text-align: center;
}

#sign-in-up form {
  text-align: center;
  padding: 10px;
}

// makes body take up 100% of browser height
html, body {
  height: 100%;
  margin: 0;
}

// makes background image take up 100% of parent
// height (which is body)
#background-img {
  height: 100%;

  background-image: image-url("home_wine4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
